<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RSS feeds</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col" style="padding-top: 250px ">
          <h2>Welcome to RSS feeds</h2>
        </div>
        <div class="col" style="padding-top: 40px ">
          <h6>
            RSS-Feeds &nbsp;&nbsp;
          </h6>
          <form action="/RSS/feeds" method="GET">
            <button class="btn btn-primary">Get Feeds</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
